

<%= form_for(:session,url:login_path) do |f| %>

<div class="form-group">
    <%= f.label :手机号码（或短号） %>
    <%= f.text_field :phone ,class:"form-control"%>
</div>
<div class="form-group">
    <%= f.label :密码 %>
    <%= f.password_field :password ,class:"form-control"%>
</div>
<%= f.submit "登入" ,class: "btn btn-primary" %>
<% end %>
