<!-- <p id="notice"><%= notice %></p> -->

<!-- <p>
  <strong>Serial:</strong>

</p> -->

<div class="row">
    <div class="col-xs-6 col-md-3">
        <h4>资产编号</h4>
        <p>
            <%= @fixed_asset.number %>
        </p>
    </div>
    <div class="col-xs-6 col-md-3">
        <h4>购置单位</h4>
        <p>
            <%= @fixed_asset.belongs_to %>
        </p>
    </div>
    <div class="col-xs-6 col-md-3">
        <h4>购置时间</h4>
        <p>
            <%= @fixed_asset.month_of_purchase[0,4]+"年"+@fixed_asset.month_of_purchase[4,2]+"月" if !@fixed_asset.month_of_purchase.nil? %>
        </p>
    </div>
    <div class="col-xs-6 col-md-3">
        <h4>大类</h4>
        <p>
            <%= @fixed_asset.main_class %>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <h4>小类</h4>
        <p>
            <%= @fixed_asset.sub_class %>
        </p>
    </div>
    <div class="col-xs-6 col-md-3">
        <h4>品牌</h4>
        <p>
            <%= @fixed_asset.brand %>
        </p>
    </div>
    <div class="col-xs-6 col-md-3">
        <h4>型号</h4>
        <p>
            <%= @fixed_asset.model %>
        </p>
    </div>
    <div class="col-xs-6 col-md-3">
        <h4>单价</h4>
        <p>
            <%= @fixed_asset.unit_price %>
        </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h4>备注</h4>
        <p>
            <%= @fixed_asset.remarks %>
        </p>
    </div>
    <div class="row">
        <%= link_to '修改', edit_fixed_asset_path(@fixed_asset),class:"btn btn-primary col-xs-1 col-xs-offset-3" %>
        <%= link_to '返回', fixed_assets_path ,class:"btn btn-primary col-xs-1 col-xs-offset-1"%>
        <%= link_to '删除', url_for(action: :destroy,id: @fixed_asset.id),method: :delete, data: {confirm: "确认删除此资产信息?"} ,class:"btn btn-danger col-xs-1 col-xs-offset-1"%>

    </div>
