<!-- <%= stylesheet_link_tag "rec_docs" %> -->

<%= search_form_for @q do |f| %>
<div class="row">
    <div class="form-group col-xs-6 col-xs-offset-2">
        <%= f.search_field :from_or_from_code_or_wjnr_cont,class:"form-control",placeholder:"在此输入您要搜索的关键字" %>
    </div>
    <button type="submit" class="btn btn-deault col-md-2 ">搜索</button>
</div>
<% end %>
<div class="row text-center">
    <!-- <%= will_paginate @rec_docs %> -->
    <%= will_paginate @rec_docs, renderer: BootstrapPagination::Rails %>
</div>
<!--<%= link_to "20",request.params.merge(:page_limit => '20') %>
<%= link_to "50",request.params.merge(:page_limit => '50') %>
<%= link_to "100",request.params.merge(:page_limit => '100') %>-->
<table class="table table-striped">

    <thead>
        <tr >
            <th class="col-xs-2">收文编号</th>
            <th class="text-center col-xs-6">文件内容</th>
            <th class="text-center col-xs-1"><%= sort_link(@q, :from,"文件来源") %></th>
            <th class="text-center col-xs-2"><%= sort_link(@q, :from_code,"来源文号") %></th>

            <th><%= sort_link(@q, :riqi,"收文日期") %></th>
        </tr>
    </thead>

    <tbody>
        <% @rec_docs.each do |rec_doc| %>
        <tr>
            <td>
              <% if rec_doc.doc_type != 1 %>
              收文<%= rec_doc.year %>［<%= rec_doc.year_num %>］号
          <% else %>
              信访<%= rec_doc.year %>［<%= rec_doc.year_num %>］号
              <% end %>
            </td>
            <td><%= link_to rec_doc.wjnr, rec_doc %></td>
            <td><%= rec_doc.from %></td>
            <td><%= rec_doc.from_code %></td>
            <td><%= rec_doc.riqi %></td>
            <!-- <td><%= link_to 'Show', rec_doc %></td>
                    <td><%= link_to 'Edit', edit_rec_doc_path(rec_doc) %></td>
                    <td><%= link_to 'Destroy', rec_doc, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
        <% end %>
    </tbody>

</table>
<div class="row text-center">
    <!-- <%= will_paginate @rec_docs %> -->
    <%= will_paginate @rec_docs, renderer: BootstrapPagination::Rails %>
</div>
