<!DOCTYPE html>
<html>
    <head>
        <title>190号大院</title>
        <%= csrf_meta_tags %>
        <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.slim.min.js"></script>
        <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
    </head>
    <body>
        <% if logged_in? %>
        <%= render 'layouts/header' %>
        <% end %>

        <div class="container">
          <div class="row" >
          <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "col-xs-6 col-xs-offset-3 alert alert-#{key}") %>
          <% end %>
          </div>
            <%= yield %>

        </div>

    </body>
    <%= yield :print %>
</html>
